 body{
    background:linear-gradient(to right,rgb(234, 251, 136),rgb(247, 248, 189) );
 }

  div.card-body{
      background-color: rgba(248, 248, 250, 0.5);
    
  }

/* Encabezado*/
div.card-header {
 background-image: url(imagenes/2137.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: 400px;
 
}

div.jumbotron{
    opacity: 0.7;
    align-self: flex-end;
}

/* Pie de Pagina*/
div.card-footer{
    background:linear-gradient(to right,rgb(246, 248, 237),rgb(245, 247, 164) );
}
#ModalPresentacion .modal-content{
    background:linear-gradient(to right,rgb(224, 224, 222),rgb(170, 170, 167) );
}
#ModalPresentacion .modal-content i{
 font-size: 35px;
}
 
a.footer{
    font-size: large;
    font-style: normal;
    color:black;
}

 /*Login*/
 #cajalogin{
     background-color: rgb(241, 138, 169);
 }
 #cajalogin i{ 
     font-size: 35px;
     color:rgb(247, 240, 240);
 }
  #ModalRegistro .modal-content i{
    font-size: 35px;
   
  }
  #ModalRegistro .modal-content {
    background:linear-gradient(to right,rgb(185, 240, 232),rgb(203, 207, 209) );
  }




/*--------------------------------------------------------------------------------*/
@media (max-width:800px){
/* Encabezado*/ 
div.card-header {
    
height: 10%;
}
div.jumbotron h1{
    font-size: large;
}


}
/*--------------------------------------------------------------------------------*/
@media (max-width:500px){
/* Encabezado*/   
div.jumbotron h1{
    font-size:medium;
}




}


/*--------------------------------------------------------------------------------*/